:root:not([data-theme=dark]) {
  --primary-hover: #1C75BC;
  --primary: #3FA9F5;
  --secondary: #E38A43;
  --contrast: #3B3B45;
  --font-family: 'Alata', sans-serif;
}

.has-text-secondary {
  color: var(--secondary);
}

.aic {
  align-items: center;
}

.logo {
  /* width: 150px; */
  height: 75px;
}

.cta {
  width: 100%;
  margin-bottom: 24px;
}

.contrast {
  background: var(--contrast);
}

.has-text-light {
  color: #CBE3E7;
}

.hero img {
  height: 100%;
  width: 100%;
}

.ryan-avatar {
  width: 100%;
  margin-bottom: 24px;
}

#reviews-header {
  position: relative;
  text-align: center;
}

#reviews-header::after {
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  bottom: -12px; 
  width: 80%; 
  height: 2px; 
  background: var(--secondary); 
  content: ""
}

footer p {
  font-size: 0.9rem;
}

footer h4 {
  text-transform: uppercase;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
  font-size: 0.9rem;
}

footer .footer-synergy-logo {
  max-width: 150px;
}

.copyright-footer {
  text-align: center;
  background: #2B2B35;
  color: #CBE3E7;
  font-size: 0.6rem;
  padding-top: 8px;
  padding-bottom: 8px;

}

[class^="col-"] {
  padding: .5rem;
}

[class^="col-"] article {
  margin: 0px;
  height: 100%;
}
