:root:not([data-theme=dark]) {
  --primary: #1C75BC;
  --primary-hover: #3FA9F5;
  --secondary: #E38A43;
  --contrast: #54545e;
}

.top-nav {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

.top-nav a {
  margin: inherit 10px;
}

.logo {
  width: 150px;
  height: 75px;
}

.contrast {
  background: var(--contrast);
}

.has-text-light {
  color: #fff;
}

.hero {
  height: calc(100vh - 375px);
}

.hero img {
  height: 100%;
}

.ryan-avatar {
  width: 100%;
}

footer h4 {
  text-transform: uppercase;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}
